.root {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  width: 300px;
  font-size: 16px;
  border-radius: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icon {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 18px;
  height: 18px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
